<div class="bg-white p-4">
	<div class="row">
		<div class="col-12">
			<p class="lead">{{ 'welcome' | transloco }}</p>
		</div>
		<div class="col-12">
			<div class="input-group">
				<input type="text" class="form-control" [placeholder]="'login.name'|transloco" (keyup.enter)="goPatron()" [(ngModel)]="patronName" autofocus (keypress)="alphaNumericTest($event)" />
				<button type="button" class="input-group-append btn btn-primary" (click)="goPatron()">
					<i class="fa-solid fa-arrow-right"></i>
				</button>
			</div>
		</div>
	</div>
</div>

<pbkbar-language></pbkbar-language>

<pbkbar-toaster></pbkbar-toaster>